footer {
  h3 {
    margin: 0;
    text-align: start;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  hr {
    border-width: 0.1px;
  }
  .contenedor-logotipo {
    width: 40rem;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .contenedor-footer {
    .contenedor-navegaciones {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    @include telefono {
      .contenedor-navegaciones {
        display: flex;
        flex-direction: row;
      }
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      .navegacion-footer {
        margin: 0 6rem 0 0;
      }
    }
    .fila-superior {
      display: flex;
      flex-direction: row;
    }
    .espacio {
      height: 3rem;
    }
    .navegacion-footer {
      width: 15rem;
      margin-top: 2rem;
      @include tablet {
        width: 20rem;
        margin: 2rem 2rem 0 0;
      }
      @include desktop {
        margin: 1rem 0rem 0 2rem;
      }
      display: flex;
      flex-direction: column;
    }
  }
  .derechos-autor {
    display: flex;
    flex-direction: column;
  }
}

.footer {
  @include coloresFooter(#609598, $pastel);
}

.footer-morado {
  @include coloresFooter($purpura, $lila-pastel);
}

.footer-azul {
  @include coloresFooter($azul, $blanco);
}

.footer-piel{
  @include coloresFooter($piel, $azul);
}

.footer-verde-agua{
  @include coloresFooter($verde-agua, $cian);
}