.barra {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
  .navegacion {
    display: none;
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .contenedor-logotipo {
    .queFastidio {
      margin: 0;
    }
    .imagen-logotipo {
      width: 5rem;
      height: 5rem;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center; // Agregar esta línea para centrar horizontalmente
    a {
      margin-right: 2rem;
    }
    .dropdown-content {
      background-color: transparent;
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
      left: 50%; // Agregar esta línea para centrar horizontalmente
      transform: translateX(
        -50%
      ); // Agregar esta línea para centrar horizontalmente
      a {
        margin: 0;
        margin-left: 2rem;
        padding: 2px 16px;
        text-align: start;
        text-decoration: none;
        display: block;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .cambio-color {
      background-color: white;
    }
    &:hover {
      .dropdown-content {
        display: block;
      }
    }
  }
}

.hidden {
  display: none;
}

//menu overlay
$overlayColor: rgba(0, 0, 0, 0.5);

#overlayMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlayColor;
  display: none;
  justify-content: flex-end;
  align-items: center;
  #contenedorMenu {
    @include desktop {
      display: none;
    }
    background-color: black;
    width: 100%;
    height: 100%;
    @include telefono {
      width: 40rem;
      height: 100%;
      right: 100%;
    }
    .subContenedorMenu {
      margin: 0 2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .logotipo-principal {
        @include telefono {
          display: none;
        }
        display: block;
      }
      .contenedorBotonMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .primerElemento {
          grid-column: 2;
        }
        .boton {
          border-color: white;
          margin: 3rem 0;
          width: 12rem;
          &:hover {
            color: black;
            background-color: white;
          }
        }
      }
    }
  }
  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        color: white;
        text-decoration: none;
        font-size: 18px;
      }
    }
  }
}

.contenedor-navegaciones {
  display: flex;
  flex-direction: column;
  .flecha-arriba-derecha {
    color: white;
  }
  .boton-menu {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    border: 0;
    height: 3rem;
    border-bottom: 1px solid;
    border-color: white;
    &:first-of-type {
      border-top: 1px solid;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
#openMenuButton {
  @include desktop {
    display: none;
  }
  top: 20px;
  right: 20px;
}

#closeMenuButton {
  color: white;
}
