.fondo-color-morado {
  background-color: $purpura;
}

.atencion {
  h1 {
    margin: 0;
    color: $lila-pastel;
    font-size: 40px;
    font-weight: normal;
  }
  p {
    margin: 0;
    margin-top: 1.5rem;
    color: $lila-pastel;
  }
  .contenedor-imagen {
    padding: 4rem 0;
  }
}


