.imagen-fondo {
  background-image: url("/build/img/erol-ahmed-aIYFR0vbADk-unsplash.webp");
  background-size: cover;
}
.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80rem;
  h1 {
    text-align: center;
    margin: 2rem 16rem;
    color: #f5f5dc;
  }
}

.apoyo-comunidad {
  @include contenedor-texto(black, gray);
  @include enlace(black, gray);
}

.contenido-sobre-nosotros {
  @include enlace(black, gray);
}

.tabs-enfermeros {
  background-color: white;
  @include contenedor-texto(black, gray);
  .contenedor-imagen-borde {
    @include borde(2rem, black);
  }
  @include enlace(black, gray);
  @include tabs(".tabcontent",gray, black);
}

.tabs-psicologos {
  min-height: 90rem;
  background-color: #390099;
  border-color: #00ffff;
  .contenedor-texto {
    @include borde-superior(1px, #00ffff);
  }
  .contenedor-imagen-borde {
    @include borde(2rem, #00ffff);
  }
  @include contenedor-texto(#00ffff, #068181);
  @include enlace(#00ffff, #068181);
  @include tabs(".tabcontent2", #068181, #00ffff);
}

.tabs-abogados {
  min-height: 90rem;
  background-color: #0a0f0d;
  .contenedor-imagen-borde {
    @include borde(2rem, white);
  }
  @include tabs(".tabcontent3", rgb(132, 132, 132), white);
  @include enlace(white, rgb(53, 51, 51));
  @include contenedor-texto(white, rgb(53, 51, 51));
}

.investigaciones {
  @include contenedor-texto(black, gray);
  a,
  h2 {
    color: black;
  }
}
